.header{
    position: relative;
    width: 100%;
    height: 840px;
    color: white;

}



.container{
    width: 1170px;
    margin: 0 auto;
    height: 100%;
}

.flex-row{
    display: flex;
    justify-content: space-between;

}


.start{
    padding-top:20px; 
    display: flex;
    height: 70px;
}

.logo{
    flex: 2;
}

.icons{
    flex:2;
    display: flex;
    justify-content: flex-end;
}

.main-title{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    width: 810px;
    height: 215px;
    text-align: center;
}

.main-title > .author-on-title{
    letter-spacing: 1px;
    margin: 0 auto;
    width: 240px;
    height: 160px;
    margin-top: 80px;
    position: relative;
}   

.main-title > .author-on-title > .author-name-on-title{
    margin-top: 20px;
    font-size: 14px;
    font-family: Montserrat;
    font-weight: bold;
    color: white;
}

.main-title > .author-on-title > .date-on-title{
    margin-top: 15px;
    margin-bottom: 20px;
    font-size: 12px;
    font-family: Montserrat;
    font-weight: bold;
    color:#9b9b9b;
}

.likes-and-comments{
    justify-content: space-around;
    font-size: 12px;
    font-family: Montserrat;
    font-weight: bold;
    
}

.start > nav{
    flex: 8;
}

.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
}

.menu a{
    position: relative;
    display: block;
    text-transform: uppercase;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: bold;
    /* background-color: red; */
    height: 100%;
    border: none;
    padding-bottom: 15px;
}

.menu a:hover, .icon-button:hover{
    border-bottom: 4px solid #ff4081;
}

